[Unit]
Description=Motion_PI_Cam_2 Flask + workers
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/opt/motion_pi_cam_2/app/python
EnvironmentFile=/opt/motion_pi_cam_2/app/services/motion_pi_cam_2.env
ExecStart=/opt/motion_pi_cam_2/venv/bin/python -m main
Restart=on-failure
RestartSec=3
Nice=-5

[Install]
WantedBy=multi-user.target
